.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem 1.6rem;
  margin: 6.4rem 0 12.7rem;
}

/************************/
/* Media Query */
/************************/

/* max-width: 1190px  */
@media (max-width: 74.375rem) {
  .cardsWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* max-width: 754px */
@media (max-width: 47.125rem) {
  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
