.sort {
  display: flex;
  justify-content: end;
}

.innerSort {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  align-items: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  border-radius: 4px;
  outline: none;
  color: var(--text-color);
}
