/************************/
/* Product listing */
/************************/

:global(.container) {
  max-width: 1512px;
  margin: 0 auto;
  padding: 0 6.4rem;
}

.innerProductListSection {
  padding-top: 6.4rem;
  padding-bottom: 4.6rem;
  text-align: center;
}

.innerProductListSection > h1 {
  color: var(--text-color);
  font-size: 4.8rem;
  font-family: var(--moul-font);
  font-weight: 400;
  margin-bottom: 4.4rem;
}

.productSlider {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.innerProductListContainer {
  position: relative;
  user-select: none;
}

/************************/
/* Icons */
/************************/

.displayIcons {
  position: absolute;
  z-index: 5;

  top: 50%;
  transform: translateY(-50%);
}

.displayIcon1 {
  left: 0;
}

.displayIcon2 {
  right: 0;
}

.displayIconWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background-color: rgba(241, 245, 248, 0.8);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
}

.displayIcon {
  font-size: 2.3rem;
  color: var(--accent-grey);
}

/************************/
/* Display */
/************************/

.imgContainer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imgContainer > img {
  width: 100%;

  height: auto;
  max-height: 200px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.displayWrapper > p {
  color: var(--accent-grey);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 24px;
  margin-top: 1.6rem;
}

.line {
  margin-bottom: 2rem;

  stroke-width: 1px;
  stroke: var(#979090);
}

.displayItemsWrapper {
  padding: 10px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

/************************/
/* Media Query */
/************************/

/* max-width: 1251px */
@media (max-width: 78.19rem) {
  :global(.container) {
    padding: 0 4.8rem;
  }
}

/* max-width: 1146px */
@media (max-width: 70.25rem) {
  .displayWrapper > p {
    font-size: 1.7rem;
  }

  .displayWrapper > p {
    font-size: 1.6rem;
  }
}

/* max-width: 1100px (1-slider)*/
@media (max-width: 1100px) {
  .productSlider .displayItemsWrapper:nth-of-type(5) {
    display: none;
  }
}

/* max-width: 900px */
@media (max-width: 900px) {
  :global(.container) {
    padding: 0 1.8rem;
  }

  .innerProductListSection {
    padding-top: 6.4rem;
    padding-bottom: 4.6rem;
  }

  .innerProductListSection > h1 {
    font-size: 3.2rem;
  }
}

/* max-width: 800px (2 slider) */
/* @media (max-width: 50rem) {
  .productSlider .displayItemsWrapper:nth-of-type(5),
  .productSlider .displayItemsWrapper:nth-of-type(4) {
    display: none;
  }
} */

/* max-width: 600px  (3 slider) */
@media (max-width: 600px) {
  .innerProductListSection > h1 {
    font-size: 2rem;
  }

  .displayWrapper > p {
    font-size: 1.4rem;
  }

  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgContainer > img {
    width: 60%;
    object-fit: cover;
  }

  /* .productSlider .displayItemsWrapper:nth-of-type(5),
  .productSlider .displayItemsWrapper:nth-of-type(4),
  .productSlider .displayItemsWrapper:nth-of-type(3) {
    display: none;
  } */
}

/* max-width: 500px */
@media (max-width: 500px) {
  :global(.container) {
    padding: 0 0.8rem;
  }

  .innerProductListSection {
    padding-top: 6.4rem;
    padding-bottom: 4.6rem;
  }
}
