.header {
  height: 10.4rem;
  background-color: var(--pri-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  /* box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1); */
}

.inner_header {
  max-width: 1512px;
  height: 100%;
  margin: auto;
  padding: 3.6rem 6.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

/* logo section */
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.logo > a img {
  width: 100%;
}

.BtnWrapper {
  display: none;
  cursor: pointer;
}

.BtnWrapper .ToggleBtn {
  font-size: 3rem;
  color: var(--sec-color);
}

/* mobileProfileWrapper */
.mobileProfileWrapper {
  display: none;
}

.mobileProfileWrapper .innerMobileProfile {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.mobileProfileWrapper a.activeLink .mobileListImg {
  color: var(--sec-color);
}

.mobileProfileWrapper .mobileListImg {
  font-size: 3.2rem;
  font-weight: 700;
}

/* nav section */
.nav > ul {
  display: flex;
  gap: 6.5rem;
}

.nav > ul li a {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  font-size: 1.8rem;
  font-weight: 500;
  line-height: 24px;
  padding: 1.2rem 0;
  border-bottom: 1px solid transparent;
}

.inner_header a.activeLink {
  color: var(--sec-color);
}

.nav > ul li a.activeLink:hover {
  border-bottom: 2px solid var(--sec-color);
}
.inner_header a.dormantLink {
  color: var(--accent-grey);
}

.nav > ul li a:global(.active) {
  border-bottom: 2px solid var(--sec-color);
}

.nav > ul li a > .listImg {
  font-size: 3.2rem;
}

.hide {
  display: none;
}

/**************************/
/* Media Query */
/**************************/

/* max-width: 1251px */
@media (max-width: 78.19rem) {
  .inner_header {
    padding: 3.6rem 4.8rem;
  }
}

/* max-width: 1100px */
@media (max-width: 68.75rem) {
  .nav > ul {
    gap: 4.8rem;
  }

  .nav > ul li a {
    font-size: 1.4rem;
  }
}

/* max-width: 56.25rem */
@media (max-width: 900px) {
  .header {
    height: 8rem;
  }

  .mobileProfileWrapper {
    display: flex;
  }

  .nav {
    display: flex;

    position: absolute;
    width: 32.9rem;
    height: 44.8rem;
    top: 8rem;
    left: -100%;
    padding: 1.6rem 0.8rem 2.4rem;

    transition: all 0.3s ease-in;
    z-index: 2;
    background-color: var(--sec-color);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
    border-radius: 0px 8px 8px 0px;

    /* Hide navigation */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .open {
    left: 0;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .nav > ul li a {
    padding: 0.8rem;
  }

  .inner_header a.activeLink {
    color: var(--text-color);
  }

  .nav > ul li a > .listImg {
    font-size: 2.4rem;
  }

  .hide {
    display: block;
  }

  .BtnWrapper {
    display: block;
  }

  .logo {
    width: 12rem;
  }

  .inner_header {
    padding: 1.8rem 2rem;
  }
}

/* @media (max-width: 500px) */
@media (max-width: 500px) {
  .header {
    height: 6rem;
  }

  .inner_header {
    padding: 1.6rem 0.8rem;
  }

  .logo > a img {
    width: 8rem;
  }

  .mobileProfileWrapper .mobileListImg {
    font-size: 2.4rem;
  }

  .nav {
    top: 6rem;
  }
}
