.footer {
  background: var(--Text-color, #333);
}

.footerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 3.1rem 0;
}

.footerLogo .footerLogoImg img {
  width: 100%;
}

.footerLogo p {
  color: var(--sec-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 24px;
  margin-top: 0.6rem;
}

/* footerDetailTexts */
.footerDetailTexts {
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 0.5fr 0.5fr;
  gap: 10rem;
}

.footerDetailTexts h3 {
  color: var(--sec-color);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
}

.footerLinks nav ul,
.footerNavContact {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footerLinks nav ul li a:link,
.footerLinks nav ul li a:visited,
.conatctItem a:link,
.conatctItem a:visited {
  color: var(--sec-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
}

.footerLinks nav ul li a:hover,
.footerLinks nav ul li a:active,
.conatctItem a:hover,
.conatctItem a:active {
  color: #c1c4c6;
}

.conatctItem {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.conatctItem .footerIcon {
  font-size: 1.8rem;
  color: var(--sec-color);
}

/* newsletter */
.newsletter {
  grid-column: span 2;

  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.newsletter label {
  color: var(--sec-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
}

.newsInput {
  padding: 1rem 1.2rem;
  margin: 0.3rem 0 1.2rem;
  background-color: transparent;
  border: 1px solid var(--sec-color);
}

.newsInput::placeholder {
  color: var(--accent-grey);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
}

.newsletter .submitBtn {
  width: 13.7rem;
  align-self: flex-start;
  padding: 0.8rem 0.4rem;
  background-color: var(--pri-color);
  border-radius: 8px;
  border: none;

  color: var(--sec-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.newsletter .submitBtn:hover {
  background-color: var(--hover-green);
}

.customToast {
  font-style: 1.4rem;
}

/************************/
/* Product listing */
/************************/

/* min-width: 1400px */
@media (min-width: 87.5rem) {
  .footerDetailTexts {
    gap: 15rem;
  }
}

/* max-width: 1200px */
@media (max-width: 75rem) {
  .footerDetailTexts {
    gap: 5rem;
  }
}

/* max-width: 1058px */
@media (max-width: 66.125rem) {
  .footerInner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4rem;
  }

  .footerDetailTexts {
    gap: 5rem;
  }
}

/* max-width: 700px */
@media (max-width: 43.75rem) {
  .footerDetailTexts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 8rem;
  }

  .newsletter {
    margin-top: 1.6rem;
  }
}

/* max-width: 500px */
@media (max-width: 31.25rem) {
  .footerLogo {
    display: none;
  }

  .footerDetailTexts h3 {
    font-size: 1.8rem;
  }

  .newsletter label {
    color: var(--sec-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
  }
}

/* max-width: 390px */
@media (max-width: 390px) {
  .footerLinks nav ul li a:link,
  .footerLinks nav ul li a:visited,
  .conatctItem a:link,
  .conatctItem a:visited {
    font-size: 1.4rem;
  }
}
