@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Moul&display=swap");

:root {
  --lato-font: "Lato", sans-serif;
  --moul-font: "Moul", serif;
  --pri-color: #2ecc71;
  --sec-color: #f1f5f8;
  --accent-grey: #979090;
  --accent-gold: #f9aa33;
  --text-color: #333;
  --error-color: #f42828;
  --accent-color-4: #7b6ae3;
  --hover-green: #43d17f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--lato-font);
  font-weight: 400;
}

/* toastify */
.Toastify__toast {
  font-size: 1.5rem;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  background-color: #f42828;
}
